<div class="row">
  <div class="col-xs-12">
    <div class="wellhead-main">
        <h4>Edit Your Profile</h4>
      </div>
    <div class="well">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>