<div class="row">
  <div class="col-xs-12">
    <div class="wellhead-main">
        <h4>
          <% if params[:plan] == '2' %> Full Account Sign Up <% else %> Basic Account Sign Up</h4><% end %>
      </div>
    <div class="well">

    <% if params[:plan] == '2' %>

      <div class="row">
        <div class="form-group col-sm-6">
          
          <%= render "full_form" %>

        </div>
        <div class="form-group col-sm-6" id="signup">
            <p>To truly take advantage of our services, you need a full account. For the low price of only $2 a month, you get access to the following features:</p>
          <h4>See professionals' contact information</h4>
            <p>With a full account, you can access the contact information of the listed canine professionals with ease.</p>
          <h4>See potential clients' contact information</h4>
            <p>Dogparc also functions as a way for professionals to connect to new clients, by contacting users.</p>
          <h4>Create a user profile</h4>
            <p>Create a user profile in order to advertise your services, or to leave your information to receive service offers.</p>
        </div>
        <div class="col-sm-6">
            <p class="disclaimer">PLEASE NOTE: This is only an example site, and not a real service. You will not actually be charged anything.</p>
        </div>
      </div>

    <% else %>

      <div class="row">
        <div class="form-group col-sm-6">
          <%= render "basic_form" %>
        </div>
        <div class="form-group col-sm-6" id="signup">
          <p>Do you want to test the waters before signing up for a full account? With the basic account, you get to preview the types of listings we have on our site. It's completely free!</p>
          <p>If you want access to the contact information listed on this site, a full account will be required.</p>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>